<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Barra de herramientas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videojuegos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="display-main-page">
    <div class="title-page">
      <h1>Eternal Gaming</h1>
    </div>

    <div class="premiere-title">
      <h2 class="premiere-text-title">Estreno</h2>
    </div>
  </div>

  <div class="display-new-games">
    <div class="game-premiere-information">
      <h2 class="developer">Videojuego: {{name}}</h2>
      <h3>Desarrollador/a: {{developer}}</h3>
      <p>Fecha de lanzamiento: {{releaseDate}}</p>
      <p>Categoría: {{category}}</p>
    </div>
    <div class="first-game-premiere-img">
      <img id="first-game-premiere" src="../../assets/img/RE9.webp" alt="Resident-Evil-Requiem">
    </div>
  </div>
  <div class="button-section">
    <ion-button (click)="gotoMyVideogames()">Gestionar videojuegos</ion-button>
  </div>
</ion-content>