<ion-content>
  <ion-list>
    <ion-item *ngFor="let game of games">
      <ion-label>
        <h2>{{ game.developer }}</h2>
        <p>Fecha: {{ game.releaseDate }}</p>
        <p>Categoría: {{ game.category }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editGame(game.id)" color="primary">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteGame(game.id)" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/videogames-form']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>